@page "/Help"
@inject HttpClient Http
@inject GameState GameState
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<p>Welcome to the world of Quepland! You probably have many questions. Hopefully some of the info here will answer anything you'd like to know.</p>

<p><b>What do I do?</b></p>
<p>You can do whatever you'd like! As you continue on your journey you'll find various roadblocks in your way. Mouse over them and they'll tell you what item or stat you need to pass through them.</p>

<p><b>What does x skill do?</b></p>
<p>Every skill in the game is explained in its own skill screen, which can be accessed by clicking on the skill in the skill menu to the right.</p>

<p><b>How do I find x?</b></p>
<p>There's an incredible Google Sheets resource for finding almost anything in the game located at is.gd/quepland. Alternatively, the game's chatrooms are usually quite active and players are always happy to help. If I notice certain things are difficult to find for a lot of players I will try my best to make it more clear in game. </p>

@functions{

    private void Return()
    {
        UriHelper.NavigateTo("/Bank/");
    }

    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}