@page "/House"
@inject HttpClient Http
@inject GameState GameState
@implements IDisposable

<h1>Welcome Home</h1>



@functions{

    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}