@page "/SmithingMenu/"
@inject GameState  GameState
@inject MessageManager  MessageManager
@using System.Threading;
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper

<h1>Inside the Smithy</h1>
<p>An entire working forge lays before you. Pick any metal to begin.</p>

<div class="progress">
    <div class="progress-bar bg-success" style="@GetWidthString();transition:none;" role="progressbar" aria-valuenow=@GetValueString() aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="main">
    @LoadAutoSmithing()
    @if (!isAutoSmithing)
    {
        @LoadActions()
    }

</div>



@functions{

    private bool waitingForAutoCollectMessage = true;
    private GameItem currentSmithingBar;
    private GameItem currentSmithingItem;
    private string lastSmithedBar;

    private Timer smithingTimer;
    private Timer autoSmithingTimer;

    private int smithingStage = 0;
    private int progress = 0;
    private int autoSmithProgress = 0;

    private bool isAutoSmithing = false;
    private bool isUsingBar = false;
    private bool autoSmithItemSelected = false;
    private bool metalChanged = false;

    private double speedMulti = 1;

    Random rand = new Random();
    private string areaURL;

    public RenderFragment LoadActions()
    {
        return builder =>
        {

            builder.OpenElement(0, "br");
            builder.CloseElement();

            if (GameState.isHunting == false && smithingStage == 0 && !isAutoSmithing)
            {
                foreach (GameItem i in Program.itemDatabase.GetSmithingBars())
                {

                    builder.OpenElement(0, "button");
                    builder.AddAttribute(0, "class", "btn btn-primary");
                    builder.AddAttribute(0, "style", "margin-bottom:10px");
                    builder.AddAttribute(0, "onclick", () => SetCurrentSmithingBar(i));
                    if (GameState.GetPlayer().HasRequiredLevel(i) == false)
                    {
                        builder.AddAttribute(0, "title", "You lack the levels to smelt this bar.");
                        builder.AddAttribute(0, "disabled", true);
                    }
                    else if (GameState.GetPlayer().HasIngredients(i.IngredientIDs) == false && GameState.GetPlayerInventory().HasItem(i) == false)
                    {
                        builder.AddAttribute(0, "title", "You lack the ingredients to smelt this bar.");
                        builder.AddAttribute(0, "disabled", true);
                    }
                    builder.AddContent(0, i.ItemName);
                    builder.CloseElement();

                    builder.OpenElement(0, "br");
                    builder.CloseElement();


                }

            }
            else if (GameState.isHunting == false && smithingStage == 1 && currentSmithingBar != null && !isAutoSmithing)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(0, "class", "btn btn-primary");
                builder.AddAttribute(0, "style", "margin-bottom:10px");
                builder.AddAttribute(0, "onclick", () => UseOre());
                if (progress == 0 || progress >= 100)
                {

                }
                else
                {
                    builder.AddAttribute(0, "disabled", true);
                }
                if(GameState.GetPlayer().HasIngredients(currentSmithingBar.IngredientIDs) == false)
                {
                    builder.AddAttribute(0, "disabled", true);
                    builder.AddAttribute(0, "title", "You don't have the materials to do this.");
                }
                builder.AddContent(0, "Insert " + Extensions.GetIngredientsAsString(currentSmithingBar, Program.itemDatabase) + " into furnace");
                builder.CloseElement();
                builder.OpenElement(0, "br");
                builder.CloseElement();
                if (GameState.GetPlayerInventory().HasItem(currentSmithingBar))
                {
                    builder.OpenElement(0, "button");
                    builder.AddAttribute(0, "class", "btn btn-primary");
                    builder.AddAttribute(0, "style", "margin-bottom:10px");
                    builder.AddAttribute(0, "onclick", () => UseBar());
                    if (progress == 0 || progress >= 100)
                    {

                    }
                    else
                    {
                        builder.AddAttribute(0, "disabled", true);
                    }
                    builder.AddContent(0, "Insert " + currentSmithingBar.ItemName + " into furnace");
                    builder.CloseElement();

                    builder.OpenElement(0, "br");
                    builder.CloseElement();
                }


            }
            else if (GameState.isHunting == false && smithingStage == 2 && currentSmithingBar != null && !isAutoSmithing)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(0, "class", "btn btn-primary");
                builder.AddAttribute(0, "style", "margin-bottom:10px");
                builder.AddAttribute(0, "onclick", () => IncrementSmithingStage());
                if (progress == 0 || progress >= 100)
                {

                }
                else
                {
                    builder.AddAttribute(0, "disabled", true);
                }
                builder.AddContent(0, "Remove " + currentSmithingBar.ItemName + " from furnace");

                builder.CloseElement();

                builder.OpenElement(0, "br");
                builder.CloseElement();

            }
            else if (GameState.isHunting == false && smithingStage == 3 && currentSmithingBar != null && !isAutoSmithing)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(0, "class", "btn btn-primary");
                builder.AddAttribute(0, "style", "margin-bottom:10px");

                builder.AddAttribute(0, "onclick", () => ResetSmithingStage());
                if (progress == 0 || progress >= 100)
                {

                }
                else
                {
                    builder.AddAttribute(0, "disabled", true);
                }
                builder.AddContent(0, "Smith another bar");
                builder.CloseElement();
                builder.OpenElement(0, "p");
                builder.AddContent(0, "Hammer " + currentSmithingBar.ItemName + " into a...");
                builder.CloseElement();
                builder.OpenElement(0, "br");
                builder.CloseElement();
                foreach (GameItem i in Program.itemDatabase.GetSmithingItems())
                {
                    if (i.IngredientIDs[0] == currentSmithingBar.Id)
                    {
                        builder.OpenElement(0, "button");
                        builder.AddAttribute(0, "class", "btn btn-primary");
                        builder.AddAttribute(0, "style", "margin-bottom:10px");

                        builder.AddAttribute(0, "onclick", () => SetCurrentSmithingItem(i));
                        if (progress == 0 || progress >= 100)
                        {

                        }
                        else
                        {
                            builder.AddAttribute(0, "disabled", true);
                        }
                        builder.AddContent(0, i.ItemName);
                        builder.CloseElement();

                        builder.OpenElement(0, "br");
                        builder.CloseElement();
                    }
                }


            }
            else if (GameState.isHunting == false && smithingStage == 4 && currentSmithingItem != null && !isAutoSmithing)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(0, "class", "btn btn-primary");
                builder.AddAttribute(0, "style", "margin-bottom:10px");

                builder.AddAttribute(0, "onclick", () => IncrementSmithingStage());
                if (progress == 0 || progress >= 100)
                {

                }
                else
                {
                    builder.AddAttribute(0, "disabled", true);
                }
                builder.AddContent(0, "Cool " + currentSmithingItem.ItemName + " in water");
                builder.CloseElement();

                builder.OpenElement(0, "br");
                builder.CloseElement();

            }
            else if (GameState.isHunting == false && smithingStage == 5 && currentSmithingItem != null && !isAutoSmithing)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(0, "class", "btn btn-primary");
                builder.AddAttribute(0, "style", "margin-bottom:10px");

                builder.AddAttribute(0, "onclick", () => CollectItem());
                if (progress == 0 || progress >= 100)
                {

                }
                else
                {
                    builder.AddAttribute(0, "disabled", true);
                }
                builder.AddContent(0, "Withdraw " + currentSmithingItem.ItemName);
                builder.CloseElement();

                builder.OpenElement(0, "br");
                builder.CloseElement();

            }
        };
    }
    public RenderFragment LoadAutoSmithing()
    {
        return builder =>
        {
            if(autoSmithProgress == 0 && isAutoSmithing == false)
            {
                builder.OpenElement(0, "button");
                builder.AddAttribute(1, "class", "btn btn-primary");
                if(GameState.GetPlayer().activeFollower != null && GameState.GetPlayer().activeFollower.AutoCollectSkill == "Smithing")
                {
                    builder.AddAttribute(2, "onclick", () => BeginAutoSmithing());
                }
                else
                {
                    builder.AddAttribute(3, "title", "You need someone to help you do this.");
                }

                builder.AddContent(4, "Auto Smith");
                builder.CloseElement();
                builder.OpenElement(5, "br");
                builder.CloseElement();
            }
            else if(autoSmithProgress == 2 && autoSmithItemSelected == false)
            {
                builder.OpenElement(0, "p");
                builder.AddContent(1, "Select an item to make while smithing.");
                builder.CloseElement();
                foreach(GameItem item in Program.itemDatabase.GetSmithingItems().Where(x => x.IngredientIDs[0] == currentSmithingBar.Id))
                {
                    builder.OpenElement(2, "p");
                    builder.OpenElement(3, "button");
                    builder.AddAttribute(4, "class", "btn btn-primary");
                    builder.AddAttribute(5, "onclick", () => SetAutoSmithItem(item));
                    builder.AddContent(6, item.ItemName);
                    builder.CloseElement();
                    builder.CloseElement();
                }
            }

        };
    }
    private void SetAutoSmithItem(GameItem item)
    {
        autoSmithItemSelected = true;
        SetCurrentSmithingItem(item);
    }
    public void BeginAutoSmithing()
    {
        StopSmithing();
        autoSmithProgress = 0;
        isAutoSmithing = true;
        bool barFound = false;
        foreach(GameItem bar in Program.itemDatabase.GetSmithingBars())
        {
            if (GameState.GetPlayerInventory().HasBarIngredients(bar))
            {
                if(lastSmithedBar != null && lastSmithedBar != bar.ItemName)
                {
                    metalChanged = true;
                }
                SetCurrentSmithingBar(bar);
                UseOre();
                barFound = true;
                break;
            }
            else if(GameState.GetPlayerInventory().HasItem(bar))
            {
                SetCurrentSmithingBar(bar);
                UseBar();
                barFound = true;
                break;
            }
        }
        if(!barFound)
        {
            currentSmithingBar = null;
            MessageManager.AddMessage("You have run out of materials.");
            return;
        }

        MessageManager.AddMessage("You begin to smith with " + GameState.GetPlayer().activeFollower.Name);
        autoSmithingTimer = new Timer(new TimerCallback(_ =>
        {
            if(autoSmithProgress == 5)
            {
                MessageManager.AddMessage("You take the " + currentSmithingItem + " " + GameState.GetPlayer().activeFollower.Name + " hands you.");
                AutoCollectItem();
                autoSmithProgress = 0;
                BeginAutoSmithing();
            }
            else if(autoSmithProgress == 4)
            {
                MessageManager.AddMessage(GameState.GetPlayer().activeFollower.Name + " puts the " + currentSmithingItem + " in water to cool.");
                autoSmithProgress++;
            }
            else if(autoSmithProgress == 3)
            {
                MessageManager.AddMessage(GameState.GetPlayer().activeFollower.Name + " hammers the " + currentSmithingBar + " into a " + currentSmithingItem.ItemName);
                autoSmithProgress++;
            }
            else if(autoSmithProgress == 2)
            {

                if (autoSmithItemSelected)
                {
                    MessageManager.AddMessage(GameState.GetPlayer().activeFollower.Name + " withdraws a " + currentSmithingBar + ".");
                    autoSmithProgress++;
                }
            }
            else if(autoSmithProgress == 1)
            {
                if (isUsingBar)
                {
                    MessageManager.AddMessage(GameState.GetPlayer().activeFollower.Name + " puts the " + currentSmithingBar + " in the furnace.");
                }
                else
                {
                    MessageManager.AddMessage(GameState.GetPlayer().activeFollower.Name + " puts the " + Extensions.GetIngredientsAsString(currentSmithingBar, Program.itemDatabase) + " in the furnace.");
                }
                if (metalChanged)
                {
                    metalChanged = false;
                    autoSmithItemSelected = false;
                }
                autoSmithProgress++;
            }
            else if(autoSmithProgress == 0)
            {
                autoSmithProgress++;
            }
            GameState.UpdateState();
            StateHasChanged();
        }), null, 1500,1500);
    }
    private void SetCurrentSmithingBar(GameItem i)
    {
        if(i == null)
        {
            return;
        }
        currentSmithingBar = i;
        smithingStage++;
        StateHasChanged();
        //IncrementSmithingStage();
    }
    private void SetCurrentSmithingItem(GameItem i)
    {
        if(i == null)
        {
            return;
        }

        currentSmithingItem = i;

        GameState.GetPlayerInventory().RemoveItemsByID(i.IngredientIDs);
        IncrementSmithingStage();
    }
    private void UseOre()
    {
        isUsingBar = false;
        GameState.GetPlayerInventory().RemoveItemsByID(currentSmithingBar.IngredientIDs);
        IncrementSmithingStage();
    }
    private void UseBar()
    {
        isUsingBar = true;
        GameState.GetPlayerInventory().RemoveItemByID(currentSmithingBar.Id);
        IncrementSmithingStage();
    }
    private void IncrementSmithingStage()
    {
        if (isAutoSmithing)
        {
            return;
        }
        if (smithingTimer != null)
        {
            smithingTimer.Dispose();
            smithingTimer = null;
        }

        progress = 0;
        SendMessage();
        GameState.isSmithing = true;
        smithingTimer = new Timer(new TimerCallback(_ =>
        {
            if (progress >= 100)
            {
                if (smithingStage == 2)
                {
                    GameState.GetPlayerInventory().AddItem(currentSmithingBar);
                    if (!isUsingBar)
                    {
                        GameState.GetPlayer().GainExperience(currentSmithingBar.ExperienceGained);
                    }

                }
                smithingTimer.Dispose();
                smithingTimer = null;
                smithingStage++;
                GameState.isSmithing = false;
                StateHasChanged();
                GameState.UpdateState();
            }
            progress += 2;
            StateHasChanged();
            GameState.UpdateState();
        }), null, 20, 20);

        StateHasChanged();
        GameState.UpdateState();
    }
    private void CollectItem()
    {
        smithingStage = 0;
        int numToMake = Math.Max(currentSmithingItem.MadeOnCreation, 1);
        GameState.GetPlayerInventory().AddMultipleOfItem(currentSmithingItem, numToMake);
        GameState.GetPlayer().GainExperience(currentSmithingBar.ExperienceGained);
        lastSmithedBar = currentSmithingBar.ItemName;
        currentSmithingItem = null;
        currentSmithingBar = null;
        GameState.isSmithing = false;
        StateHasChanged();
        GameState.UpdateState();

    }
    private void AutoCollectItem()
    {
        smithingStage = 0;
        int numToMake = Math.Max(currentSmithingItem.MadeOnCreation, 1);
        GameState.GetPlayerInventory().AddMultipleOfItem(currentSmithingItem, numToMake);
        GameState.GetPlayer().GainExperience(currentSmithingBar.ExperienceGained);
        lastSmithedBar = currentSmithingBar.ItemName;
        currentSmithingBar = null;
        GameState.isSmithing = false;
        StateHasChanged();
        GameState.UpdateState();
    }
    private void SendMessage()
    {
        string message = "";
        if (smithingStage == 0)
        {
            message = "You prepare to smelt the ore.";
        }
        else if (smithingStage == 1)
        {
            message = "You place the ore in the furnace.";
        }
        else if (smithingStage == 2)
        {
            message = "You remove the bar from the furnace.";
        }
        else if (smithingStage == 3)
        {
            message = "You hammer the bar into a " + currentSmithingItem.ItemName + ".";
        }
        else if (smithingStage == 4)
        {
            message = "You place the " + currentSmithingItem.ItemName + " in water to cool.";
        }
        else if (smithingStage == 5)
        {
            message = "You withdraw the " + currentSmithingItem.ItemName + " from the water.";
        }
        MessageManager.AddMessage(message);
    }
    private void ResetSmithingStage()
    {
        smithingStage = 0;
    }
    private void SkipToHammerStage()
    {
        smithingStage = 2;
    }
    private string GetWidthString()
    {
        return "width: " + progress + "%";
    }
    private string GetValueString()
    {
        return "" + progress;
    }

    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        GameState.canSell = false;
        speedMulti = 1;
        this.StateHasChanged();
        GameState.UpdateState();
    }
    private void StopSmithing()
    {
        if(smithingTimer != null)
        {
            smithingTimer.Dispose();
            smithingTimer = null;
        }
        if(autoSmithingTimer != null)
        {
            autoSmithingTimer.Dispose();
            autoSmithingTimer = null;
        }
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}