@page "/Updates"
@inject HttpClient Http
@inject GameState GameState
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<h1>Updates</h1>

<h2>Future Planned Updates</h2>
<p style="text-decoration:line-through">Expandable inventories.</p>
<p>Ability to fully idle all skills.</p>
<p>Kongregate High Scores</p>
<p>Local backup saves.</p>
<p>The River Gawa and city of Chickenpull</p>
<p>Armor</p>
<p>A few new skills.</p>

<h2>6/16/2019</h2>
<p>Fixed a huge combat bug. Things that die now stay dead.</p>
<p>Updated weapon stats and drop tables to be more in line with what you'd expect.</p>
<p>You now gain HP experience from eating food.</p>
<p>The UI is slightly more compact.</p>
<p>Added colors to item icons to make them more visually distinct at a glance.</p>
<p>Mousing over icons now tells you how much experience that item gives when gathered.</p>
<p>People have been asking for a kongregate forum, but I believe it's up to Kongregate to grant those. In the mean time, I have made a subreddit over at /r/Quepland on Reddit.</p>
<p>I'm aware some people are having an issue with their saves. I think I've fixed it, but I can't reproduce the problem, so if it keeps happening let me know with as much information as you can. I'm sorry for any frustration this has caused.</p>

<h2>6/15/2019</h2>
<p>Fixed a bug with npcs who don't cost money.</p>
<p>Fixed a bug caused by entering a building while gathering.</p>
<p>Added a low level bow and arrow to the starter store to allow for hunting.</p>
<p>Increased the odds of catching higher level animals while hunting.</p>
<p>Increased hunting experience gained for all animals.</p>
<p>Arrows now only have a chance to be lost on use.</p>
<p>Fixed a bug that required you to have an ore with you to smelt bars.</p>
<p>Doubled manual smithing speed.</p>
<p>Auto smithing is now possible with the right follower. Currently it only works with 1 inventory at a time.</p>
<p>Added a message for item drops from battles.</p>
<p>Added a settings menu.</p>
<p>Added a split view toggle in settings.</p>
<p>Replaced repeat messages with a number in parentheses after.</p>
<p>Fixed a bug that prevented players from increasing gather speed with better tools.</p>
<p>Balanced axe bonuses to better align with metal rarities.</p>

<h2>6/14/2019</h2>
<p>Fixed all free inventory slot issues.</p>
<p>Made low level unfinished arrows work with more low level arrow tips.</p>
<p>Removed auto save message. Don't worry! It's still saving.</p>
<p>Due to popular demand, you can now smelt bars as well as ores.</p>
<p>Most recent messages are now on the top of the list.</p>
<p>Fixed a host of bugs surrounding the Kogoe Gym. It should work properly now.</p>
<p>Fixed arrow creation bugs.</p>
<p>Added a compact view toggle for the bank.</p>
<p>Fixed some areas not appearing in the sidebar.</p>
<p>Fixed a bug with smithing bars taking ores instead.</p>
<p>Fixed a bug with compact toggle not working when searching.</p>
<p>Fixed the ore searching button.</p>
<p>Fixed the copper sword icon.</p>
<p>Fixed a bug that prevented gaining Alchemy experience.</p>
<p>Modified some item prices to be more consistent.</p>

<h2>6/13/2019</h2>
<p>Fixed a bug that showed the wrong number of free inventory spaces when crafting.</p>
<p>Fixed a but that prevented making arrows.</p>
<p>Added arrow damage info to inventory and bank menus.</p>
<p>Fixed a bug that prevented making some kinds of sushi.</p>
<p>Fixed some bugs dealing with leaving the page when gathering or hunting.</p>
<p>Fixed an issue with smithing sometimes not let players finish making their bars.</p>

@functions{



    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}