@page "/Updates"
@inject HttpClient Http
@inject GameState GameState
@inject MessageManager MessageManager
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<h1>Updates</h1>
<h2>Version @GameState.updateVersionString Another UI Update</h2>

<p><a href="https://www.reddit.com/r/Quepland/" target="_blank">Reddit</a></p>
<p><a href="https://www.patreon.com/billybillyjim" target="_blank">Patreon</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1yoEcNe82BvJWLywg9RLLYdjxYCOpLHzY0DDh37dKCTA/edit#gid=1503717891" target="_blank">Game Resource Guide</a></p>


<h2>Future Planned Updates</h2>
<p>Ability to fully idle all skills</p>
<p>Improved item crafting interface</p>
<p>The City of Chickenpull</p>
<p>Magic and Construction Skills</p>
<p>Cloud Saves</p>

<h2>7/14/2019</h2>
<p>Huge UI update!</p>
<p>Finally made the inventory positioning work properly. Let me know if you find anything else wrong with it.</p>
<p>Followers have been moved to a new button by the inventory and skills buttons.</p>
<p>A new Crafting menu is now available. Simply select the item you wish to make from the list of possible items. Let me know what you think!</p>
<p>Tooth droprates have been greatly increased.</p>
<p>Using a bow now gives a first strike in battles.</p>
<p>Text gaps in the inventory menu have been decreased.</p>
<p>Another step has been taken to connect the PlayFab API for cloud saving. Hopefully I didn't break everything...</p>
<p>Added a little counter for experience gains in the top right.</p>

<h2>7/13/2019</h2>
<p>Fixed a bug that made items sometimes stuck in one spot in the inventory.</p>
<p>Made it not possible to auto battle and do other things at the same time.</p>
<p>The first half of cloud saving is done! Expect to see it in the next few days.</p>
<p>Added a new NPC in Sahota Tir who can sharpen swords into more powerful versions, for a price. The NPC is named after one of my supporters on Patreon. If you'd like to see your name or name an NPC yourself, check out my Patreon!</p>
<p>Added a Bandit King with a rare drop to Higashi Bridge.</p>
<p>Added a new monster to Route 7 and Shoe Lake who can absorb your HP.</p>
<p>Fixed a bug that made mining veins found when searching have no button text.</p>
<p>Changed the UI for switching between inventory and skills. Let me know what you think!</p>
<p>Fixed a bug that sometimes made the game not load properly.</p>

<h2>7/11/2019</h2>
<p>Mousing over an item's amount in your bank now also tells you its value.</p>
<p>Small arrows above and below an item's lock will let you move the items up and down in your inventory, which now will maintain item locations, and always add new items to the end.</p>
<p>I was hoping to make the inventory drag-and-dropable but one small difficulty has kept me from implementing it that way. If I can figure out a workaround, I'll add that in.</p>
<p>Items now have a sell limit that can be set in the settings. Any item below the price limit will ask for confirmation from the inventory before selling.</p>

<h2>7/10/2019</h2>
<p>Mousing over an item's amount in your inventory now tells you its value.</p>
<p>Totems now have level requirements to use again.</p>
<p>Alchemy now has a level requirement to be performed.</p>
<p>Added a new type of arrow that can freeze enemies in their place!</p>
<p>Hopefully fixed a bug that would sometimes lock people's games if they were autosmithing steel.</p>
<p>Jumpy the Gnome is now available in Sahota.</p>
<p>More behind the scenes stuff has been prepared for construction.</p>

<h2>7/9/2019</h2>
<p>Added a new region! Right now, there's only one area, but there are new things to kill and some ice to mine. You can find it at the bottom of a mine shaft in Mt Yama cave.</p>
<p>Added new icy weapons, which have the ability to freeze monsters, preventing them from attacking! They're about as strong as their steel counterparts.</p>
<p>Reworked the battle messaging system to use a few less lines per hit.</p>

<h2>7/8/2019</h2>
<p>Bank tabs can now be deleted and changed. Unfortunately another change makes the new tabs incompatible with the old tabs. Sorry to everyone who has to remake their tabs!</p>
<p>Added a camel ray roll that boosts your hunting level.</p>
<p>You can now smith nails. They don't do anything, yet.</p>
<p>Fixed a bug with nails.</p>
<p>Everything else in today's update is work on the construction update.</p>

<h2>7/7/2019</h2>
<p>The bank has been reworked! Compact view should be quite a bit more compact, and also there are bank tabs.</p>
<p>Damage calculation is now slightly more consistent.</p>
<p>The tanning timer now shows the time in a less weird way.</p>

<h2>7/6/2019</h2>
<p>The experience cap has been increased. The new max level is about 398. You'll be able to gain a lot more experience now.</p>
<p>Work has been started on the construction update! I'll let you know a time frame sometime soon, once I figure out how long this will take.</p>
<p>Armor now actually checks if it is equipped to protect you. Whoops!</p>
<p>I'm another step closer to Kongregate Highscores! There's no real way for me to test if they work without just adding them in, so if it works you should see a high score page next time you reload. Let me know what kind of things you'd like to see on the high score page!</p>
<p>Maybe fixed a bug with leathermaking that sometimes prevented making anything at all.</p>
<p>HP has been completely reworked. You now gain 5 HP per level and 15 every 5th level. To compensate, most monsters now have higher dps and armor, and knives have been slightly nerfed. I'm still very open to modifying these numbers, so let me know what you think of these changes!</p>
<p>The minimum number of animals you catch while hunting is now based on your archery level multiplied by hours hunted, so an 8 hour hunt guarantees a minimum of 8 animals.</p>
<p>Food now heal a lot more. Let me know if you think it's too much/not enough!</p>
<p>Added an NPC in the Quepland Woods to help hint at how to make arrows.</p>
<p>Fixed a bug that limited food healing to your level.</p>

<h2>7/5/2019</h2>
<p>I'm back from vacation! Ready to begin work on the construction update. In the meantime, here are some bug fixes.</p>
<p>The nature of the bug fixes makes me a little nervous, as it's quite possible I've added some crashes into the game. Please let me know if I broke something!</p>
<p>Reworked the tannery to make it possible to withdraw a partial load of items, to unscrew people who had the inventory bug.</p>
<p>Maybe fixed the inventory bug. I still haven't been able to reproduce it myself, but I think I found the cause.</p>
<p>Fixed a rare bug that caused a crash when the game tried to save at exactly the same time as an item was removed from the inventory. This is an exceptionally rare bug that I can't easily test, so let me know if I broke something for you.</p>
<p>You can no longer use the forward and backward buttons to do everything at once.</p>
<p>The load button now waits until the game finishes loading to appear. This should help prevent people from clicking it too early and thinking their save is deleted.</p>
<p>Increased the odds of finding higher level animals when hunting.</p>


<a href="OldUpdates">See Old Updates</a>

@functions{


    private async void ShowUsername()
    {
        string name = await JSRuntime.InvokeAsync<string>("kongregateFunctions.getUsername");
        MessageManager.AddMessage("Your username is " + name);
    }
    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}