@page "/Updates"
@inject HttpClient Http
@inject GameState GameState
@inject MessageManager MessageManager
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<h1>Updates</h1>
<h2>Version @GameState.updateVersionString The HP Update</h2>

<p><a href="https://www.reddit.com/r/Quepland/" target="_blank">Reddit</a></p>
<p><a href="https://www.patreon.com/billybillyjim" target="_blank">Patreon</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1yoEcNe82BvJWLywg9RLLYdjxYCOpLHzY0DDh37dKCTA/edit#gid=1503717891" target="_blank">Game Resource Guide</a></p>


<h2>Future Planned Updates</h2>
<p>Ability to fully idle all skills</p>
<p>Improved item crafting interface</p>
<p>Kongregate High Scores?</p>
<p>The City of Chickenpull</p>
<p>Magic and Construction Skills</p>

<h2>7/6/2019</h2>
<p>The experience cap has been increased. The new max level is about 398. You'll be able to gain a lot more experience now.</p>
<p>Work has been started on the construction update! I'll let you know a time frame sometime soon, once I figure out how long this will take.</p>
<p>Armor now actually checks if it is equipped to protect you. Whoops!</p>
<p>I'm another step closer to Kongregate Highscores! There's no real way for me to test if they work without just adding them in, so if it works you should see a high score page next time you reload. Let me know what kind of things you'd like to see on the high score page!</p>
<p>Maybe fixed a bug with leathermaking that sometimes prevented making anything at all.</p>
<p>HP has been completely reworked. You now gain 5 HP per level and 15 every 5th level. To compensate, most monsters now have higher dps and armor, and knives have been slightly nerfed. I'm still very open to modifying these numbers, so let me know what you think of these changes!</p>
<p>The minimum number of animals you catch while hunting is now based on your archery level multiplied by hours hunted, so an 8 hour hunt guarantees a minimum of 8 animals.</p>
<p>Food now heal a lot more. Let me know if you think it's too much/not enough!</p>
<p>Added an NPC in the Quepland Woods to help hint at how to make arrows.</p>

<h2>7/5/2019</h2>
<p>I'm back from vacation! Ready to begin work on the construction update. In the meantime, here are some bug fixes.</p>
<p>The nature of the bug fixes makes me a little nervous, as it's quite possible I've added some crashes into the game. Please let me know if I broke something!</p>
<p>Reworked the tannery to make it possible to withdraw a partial load of items, to unscrew people who had the inventory bug.</p>
<p>Maybe fixed the inventory bug. I still haven't been able to reproduce it myself, but I think I found the cause.</p>
<p>Fixed a rare bug that caused a crash when the game tried to save at exactly the same time as an item was removed from the inventory. This is an exceptionally rare bug that I can't easily test, so let me know if I broke something for you.</p>
<p>You can no longer use the forward and backward buttons to do everything at once.</p>
<p>The load button now waits until the game finishes loading to appear. This should help prevent people from clicking it too early and thinking their save is deleted.</p>
<p>Increased the odds of finding higher level animals when hunting.</p>

<h2>6/30/2019</h2>
<p>Fixed a bug that caused some buttons to not render properly.</p>
<p>Fixed a bug that made it impossible to see all the areas if your screen was too small.</p>
<p>Made the follower menu available everywhere.</p>
<p>The game now tells you how much of an item you have stored in the bank with each follower trip.</p>
<p>I'll be going on vacation tomorrow from the 1st to the 5th, so there won't be any updates while I'm gone, but I will be working on the next content update so that will hopefully be out not too long after I come back!</p>


<h2>6/29/2019</h2>
<p>Fixed some typos.</p>
<p>Fixed a bug where some arrows were only creatable by using the metal tip rather than the arrow shaft.</p>
<p>Fixed a bug where losing a boost while mining would prevent players from ever stopping.</p>
<p>Combat has been changed slightly. Strengths and weaknesses play slightly less of an effect on damage, monsters weak to something now block using 1/3 armor instead of none, and base strength plays less into the calculation for damage overall.</p>
<p>If you find combat to be too difficult or nerfed too hard, please let me know. I'm open to finding a good middleground.</p>

<h2>6/28/2019</h2>
<p>Old updates logs have been moved to a different page to make this page far less long.</p>
<p>Pigeon jerky now can be properly removed from the tannery.</p>
<p>Autosmithing has been completely reworked! Just select a bar type and an item you would like to make. Let me know how it works for you.</p>
<p>The UI has been updated again! Let me know how this works for you, it might be a little less usable on very small screens, I'm not sure though.</p>
<p>The game now remembers your withdraw X value at the bank.</p>
<p>Archery now affects your hunting slightly. Every 10 levels increases your minimum catch by 1. It may become more intertwined in the future, but for now let me know how it works for you.</p>
<p>Totem pole droprates have been slightly nerfed.</p>
<p>Fixed a bug that checked for the wrong level when selecting an item while autosmithing.</p>

<h2>6/27/2019</h2>
<p>Save imports and exports now work correctly with stored salt, seaweed, and rice.</p>
<p>The game no longer breaks when leaving the sushi shop while making sushi.</p>
<p>Hunting now works offline! When you return the only area accessible to you should be the place you were hunting. Let me know how it works for you!</p>
<p>You can now hunt Big Moose, which have a unique drop of Big Moose Antlers. You can add them to a Moose Hat to look cooler!</p>
<p>Creating stackable items with a full inventory no longer makes you lose the materials but not get the item.</p>
<p>Maybe some hunting bugs have been fixed.</p>
<p>I have created a Patreon page. A few people have mentioned they would like a way to support me, and until I get the Kongregate API working this will be the only way. Thank you to anyone who feels like donating! <a href="https://www.patreon.com/billybillyjim" target="_blank">Patreon</a></p>


<h2>6/26/2019</h2>
<p>Fixed a bug that prevented withdrawing some kinds of meat from the tannery.</p>
<p>Fixed a bug that let players withdraw jerky even if they didn't have inventory space for it.</p>
<p>Fixed a bug that stopped players from gaining experience from harpoon fishing.</p>
<p>Maybe fixed scrolling propagation issues? I can't test it until it's actually live. Hopefully this doesn't break everything.</p>
<p>Experience gain from leathermaking and jerky making has been fixed to proper amounts.</p>
<p>Deftness now applies a slight damage boost to archery.</p>
<p>The skeletons in the graveyard are now strong to swords. I'm still on the fence about this change, so please let me know what you think!</p>

<h2>6/25/2019</h2>
<p>Fixed a bug that made locked items deposit in the bank and stay in your inventory at the same time.</p>
<p>Players can now equip and use items that are locked.</p>
<p>Shopkeepers will no longer take your money and not give you an item if you don't have the inventory space. The main perpetrator has been sacked and will not be seen around these parts again.</p>
<p>The way totems work has been entirely changed.</p>
<p>Strength and Deftness training at the gym are now 2.5x more effective.</p>
<p>Another fishing exp/hr nerf.</p>
<p>A new area has been added to the game! A mysterious traveller heading towards Tsu City has some interesting information for you!</p>
<p>Harpoon fishing is now possible with two new fishing items. They grant a small experience bonus when used.</p>
<p>The new harpoon fishing area has a drop table with new fishing gear you can wear to increase your fishing experience gains.</p>
<p>The sushi shop Amante is now available to create sushi from! Just deposit your rice and seaweed there and you can do full inventories of sushi rolls while idling!</p>
<p>Soul Goods sells a variety of curiosities, including salt, which is required for tanning, and a yoga mat, which lets you train HP in the yoga garden in Tsu City.</p>
<p>Tammy's Tannery is now accessible! Leave your meats and hides there for a few hours with some salt, and you'll recieve leather in return!</p>
<p>Leatherworking can now be accomplished with leatherworking tools and leather. Leather items require multiple amounts of leather to be created, but provide armor and sometime damage boosts.</p>
<p>A new battle area is available in the graveyard near Tammy's Tannery. These monsters have very high HP and deal a high amount of damage, but with armor you can recieve some great drops from them.</p>
<p>The woodworker's association building is now accessible. Buy a number of low level woodworking goods here. It might not seem like much now, but there are plans in the works for this location.</p>
<p>Fixed a bug where players couldn't see the new NPC. Oops.</p>
<p>Fixed a bug where experience bonuses from armor weren't being applied correctly.</p>
<p>Fixed a bug where the sushi shop didn't work at all.</p>

<a href="OldUpdates">See Old Updates</a>

@functions{


    private async void ShowUsername()
    {
        string name = await JSRuntime.InvokeAsync<string>("kongregateFunctions.getUsername");
        MessageManager.AddMessage("Your username is " + name);
    }
    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}