@page "/Updates"
@inject HttpClient Http
@inject GameState GameState
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@implements IDisposable

<h1>Updates</h1>


<h2>6/14/2019</h2>
<p>Fixed all free inventory slot issues.</p>
<p>Made low level unfinished arrows work with more low level arrow tips.</p>
<p>Removed auto save message. Don't worry! It's still saving.</p>
<p>Due to popular demand, you can now smelt bars as well as ores.</p>
<p>Most recent messages are now on the top of the list.</p>
<p>Fixed a host of bugs surrounding the Kogoe Gym. It should work properly now.</p>
<p>Fixed arrow creation bugs.</p>

<h2>6/13/2019</h2>
<p>Fixed a bug that showed the wrong number of free inventory spaces when crafting.</p>
<p>Fixed a but that prevented making arrows.</p>
<p>Added arrow damage info to inventory and bank menus.</p>
<p>Fixed a bug that prevented making some kinds of sushi.</p>
<p>Fixed some bugs dealing with leaving the page when gathering or hunting.</p>
<p>Fixed an issue with smithing sometimes not let players finish making their bars.</p>

@functions{



    protected override void OnInit()
    {
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}