@inherits LayoutComponentBase
@inject GameState  GameState
@implements IDisposable

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (GameState.canBank)
        {
            <a href="/Followers">Followers</a>
        }
        @if (GameState.isHunting == false && GameState.isGathering == false)
        {
            <a style="position:absolute; right:10px" href="/Help"> Help</a>
            <a style="position:absolute; right:100px" href="/About"> About</a>
        }

    </div>

    <div class="content px-4">
        @Body
        <div class="footer navbar-fixed-bottom">
            <MessagesMenu />
        </div>
    </div>

</div>


<div class="col-md-3" style="padding-left:0px; padding-right:0px">
    <SkillsMenu />
</div>
<div class="col-md-3" style="padding-left:0px; padding-right:0px">
    <Inventory />
</div>

@functions{
    private string backURL;
    protected override void OnInit()
    {

        GameState.StateChanged += OnGameStateChanged;
        GameState.UpdateState();

        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.UpdateState();
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}