@inherits LayoutComponentBase
@inject GameState  GameState
@implements IDisposable

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (GameState.canBank)
        {
            <a href="/Followers">Followers</a>
        }

        @if (GameState.CanLeave())
        {
            <a style="position:absolute; right:10px" href="/Help"> Help</a>
            <a style="position:absolute; right:100px" href="/About"> About</a>
            <a style="position:absolute; right:200px" href="/Updates"> Updates</a>
            <a style="position:absolute; right:300px" href="/Settings"> Settings</a>
        }


    </div>

    <div class="content px-4">
        @Body
        <div class="footer navbar-fixed-bottom">
            <MessagesMenu />
        </div>
    </div>

</div>

@if (GameState.isSplitView)
{
    <div class="col-md-3" style="padding-left:0px; padding-right:0px">
        <SkillsMenu />
    </div>
    <div class="col-md-3" style="padding-left:0px; padding-right:0px">
        <Inventory />
    </div>
}
else
{
    if (GameState.inventoryIsActiveView)
    { <div class="col-md-3" style="padding-left:0px; padding-right:0px">
            <Inventory />
        </div>

    }
    else
    {
        <div class="col-md-3" style="padding-left:0px; padding-right:0px">
            <SkillsMenu />
        </div>
    }
}


@functions{
    private string backURL;

    protected override void OnInit()
    {

        GameState.StateChanged += OnGameStateChanged;
        GameState.UpdateState();

        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.UpdateState();
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}